body{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: 0;
padding: 0;
background-color: rgb(199, 203, 214);
color:black;
;
}

h1{-webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black
  }

h2{color: #f3cf19;
-webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black
}

header{background-color: cadetblue;
    color: #ff5233;
    padding: 15px 0 5px;
    text-align: center;
    font-size: large;
}

ul li{list-style: none;
    display: inline;
    margin: 0 20px;
}

li a{color: aliceblue;
text-decoration: none;
}

main{text-align: center;
    padding: 30px; 
}

.profile-img{border: 1.4px solid black;border-radius: 3px;}
