body{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin: 0;
padding: 0;
background-color: rgb(199, 203, 214);
color:black;
;
}

h1{-webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black
  }

h2{color: #f3cf19;
-webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: black
}

header{background-color: cadetblue;
    color: #ff5233;
    padding: 15px 0 5px;
    text-align: center;
    font-size: large;
}

ul li{list-style: none;
    display: inline;
    margin: 0 20px;
}

li a{color: aliceblue;
text-decoration: none;
}

main{text-align: center;
    padding: 30px; 
}

.profile-img{border: 1.4px solid black;border-radius: 3px;}

.skills{background-color: #ffff66;
padding: 20px;
border-radius: 10px;
margin-top: 20px;
margin-bottom: 20px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

ul li{list-style: none;
padding: 2px
;}

.skill-list li{background-color: #dabd2d;
border-radius: 5px;
color: rgb(233, 229, 224);}

.portfolio{background-color: #ffff66;
padding: 20px;
border-radius: 10px;
margin-top: 20px;
margin-bottom: 20px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);}

.portfolio-items img{padding: 10px;
  display: inline;
}

.contact-form{max-width: 400px;
    margin: auto;
    background:  #ffff66;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);}

label, input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button{background-color: darkorchid;
border-radius: 5px;
 cursor: pointer;
}

footer{background-color: rgb(184, 115, 92);
color: white;
padding: 13px;
text-align: center;}
